.createUserModal {
  width: 400px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
